<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static' , filename = "css/bootstrap.min.css") }}>

<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
	<!-- does using url_for in auth cause the /auth/auth bug? -AN -->
	<!--
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
	  <li><a href="{{ url_for('contact') }}">Contact</a>
	  <li><a href="{{ url_for('home') }}">Home</a>
	 -->
	 <li><a href="/auth/register">Register</a>
      <li><a href="/auth/login">Log In</a>
	  <li><a href="/contact">Contact</a>
	  <li><a href="/home">Home</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>